[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-jinja = "*"
jinja2 = "*"
django-rest-swagger = "*"
django-jet = "*"
drf-yasg = "*"
django-jet2 = "*"
django-cors-headers = "*"
django-filter = "*"
pyautogui = "*"
django-unique-slugify = "*"
pillow = "*"
django-solo = "*"
django-treebeard = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
