.imap {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    position: absolute;
    height: 84%;
    width: 100%;
}

.container-imap {
    margin-top: 1rem;
}